
.accordion {
    background-color: #ffe8b8;     /* accordion body color*/
    color: none;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: black;
    outline: none;
    transition: 0.10s;
    border-radius: 50px;/*accordion body border*/
  }

  .active, .accordion:hover {
    background-color:none;
  }

  .panel {
    padding: 0 18px;
    background-color: green;
    display: none;
    overflow: hidden;
  }

  body {
    background-image: linear-gradient(to right, black , #0c0059);/* accordion body color*/
    /* background-color: turquoise; */
    font-family: 'rubik', Arial, Helvetica, sans-serif;
  }
  
 
  h1 {
    text-align: center;
  }

  .accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    padding: 45px 45px;
  }

  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
  }


  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content {
    position: relative;
    background: #ffe8b8;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }



.accordion .container.active .content {
    height: 150px;/*content container height*/
  }
   
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }